In [12]:
import requests
from io import BytesIO
from bs4 import BeautifulSoup
import pandas as pd
from PIL import Image
import time
import os
import numpy as np

pd.set_option('max_columns', 100)
pd.set_option('max_rows', 100)

In [2]:
df = pd.read_csv('memes_total_time.csv', sep = '\t', header = -1)
df.columns = ['meme_id', 'data_id', 'rating', 'template', 'week']
df.head()

  meme_id    data_id  rating                               template      week
0  353mvs  189966232       2                      Emma Watson Troll  2011-9-3
1  353mw1  189966241       3                      Emma Watson Troll  2011-9-3
2  353mw5  189966245     445  The Most Interesting Man In The World  2011-9-3
3  353mxa  189966286      39                      Irrational Shaggy  2011-9-3
4  353my8  189966320    1383                         Redditors Wife  2011-9-3

In [3]:
# Made the decision here to aggregate by meme_id making it a UID
# Decision was supported by the fact that most non_unique meme_id's were
# 100% duplicates.
old_len = len(df.index)
df = df.groupby('meme_id').agg('first').reset_index()
df.head()

num_duplicates = old_len - len(df.index)
print(f'removed {num_duplicates} duplicates')

removed 4450 duplicates

In [4]:
def scrape_image(meme_id):
    url =  'http://i.qkme.me/' + meme_id + '.jpg'
    
    try:
        req = requests.get(url)
        image = Image.open(BytesIO(req.content))
        image.save('IMAGES/' + meme_id + '.jpg', 'jpeg')
    
    except:
        pass

In [50]:
saved_memes = [x.replace('.jpg', '') for x in 
               os.listdir(os.path.join(os.getcwd(), 'IMAGES'))]

In [57]:
old_len = len(df.index)

df = df.loc[df['meme_id'].isin(saved_memes)]

num_dead_links = old_len - len(df.index)
print(f'removed {num_duplicates} dead links')

removed 4450 dead links